body {
    background-color: rgba(111, 188, 237, 0.35);
    padding: 10px;
    text-align: left;
}

.button {
    background-color: #000000;
    border: none;
    color: #fcfaff;
    text-align: center;
    text-decoration: #0000ff;
    display: inline-block;
    font-size: 20px;
}


#output {
    font-size: 50px;
}